* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background: #f5f5f5;
}

/* UTILLITY CLASSES */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR STYLES */

.navbar {
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.359);
    backdrop-filter: blur(10px);
    z-index: 9999;
}
.nav-logo {
    color: black;
}
.nav-links {
    width: 70%;
    gap: 3%;
}

.nav-links > * {
    text-align: center;
    color: black;
    transition: 200ms;
}
.nav-links > *:hover {
    color: orange;
    transition: 200ms;
}

.dropdown {
    position: relative;
    bottom: 0;
    cursor: pointer;
}
.dropdown > .dropdown-links {
    position: absolute;
    opacity: 0;
    flex-direction: column;
    transition: 200ms;
    visibility: hidden;
}
.dropdown:hover > .dropdown-links {
    opacity: 1;
    visibility: visible;
    transition: 200ms;
}
.dropdown-links > * {
    background: rgba(255, 255, 255, 0.367);
    backdrop-filter: blur(20px);
    padding: 10%;
    color: black;
    width: 200%;
    transition: 200ms;
}
.dropdown-links > *:hover {
    background-color: orange;
    transition: 200ms;
}

.hamburger {
    display: none;
}

/* HERO SECTION  */

.hero-section {
    width: 100%;
    height: 90vh;
    padding: 5%;
    background-image: linear-gradient(
        300deg,
        hsl(145deg 97% 13%) 0%,
        hsl(146deg 99% 16%) 31%,
        hsl(147deg 100% 18%) 53%,
        hsl(147deg 100% 21%) 70%,
        hsl(147deg 100% 24%) 82%,
        hsl(147deg 100% 27%) 90%,
        hsl(147deg 100% 30%) 96%,
        hsl(147deg 100% 33%) 99%,
        hsl(146deg 99% 37%) 100%,
        hsl(145deg 94% 41%) 100%
    );
}
.hero-section > img {
    width: clamp(300px, 40%, 450px);
}
.text-content {
    font-family: 'Poppins', sans-serif;
    color: white;
}
.text-content > h1 {
    font-size: clamp(30px, 3vw, 60px);
    line-height: 0.9;
    margin-bottom: 2rem;
}
.text-content > h1 > span {
    color: orange;
}


/* DIVISIONS */
.divisions {
    position: absolute;
    top: 80vh;
    left: 15%;
    width: 70%;
    background-color: white;
    margin: auto;
    height: 350px;
    transition: 300ms;
    cursor: pointer;
}
.divisions > * {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}
.divisions > * > img {
    object-fit: contain;
    height: 100px;  
}
.divisions > *:hover {
    background-color: orange;
    transition: 300ms;
}

@media (max-width: 1200px) {

    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        width: 30px;
        height: 60px;
        gap: 10%;
        order: 3;
        margin-left: 30vw;
    }
    .hamburger span {
        display: block;
        width: 90%;
        min-width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 10px;
    }
    .hero-section {
        height: 100vh;
        flex-direction: column-reverse;
    }
    .text-content > h1 {
        text-align: center;
    }
    .text-content {
        text-align: justify;
    }

    /* Division */
    .divisions {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .text-content > p {
        font-size: 14px;
    }

    .divisions {
        flex-direction: column;
        height: auto;
        gap: 10vh;
    }
    .divisions > * {
        padding: 5%;
    }
}